<!-- addnew.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"  href="styles/tailwind.css" />
    <link  rel="stylesheet" type="text/css" href="styles/styles.css" />
  <script src="indexPage.js"> </script>
<meta charset="UTF-8" />
<title>Quiz Questions</title>
</head>
<body>
<head>

</head>
<body>
    <header>
        <h1
        class="font-black leading-8 border-indigo-900 text-center text-6xl m-12"
      >
        Add New Questions
      </h1>
        <%- include('./static/buttons'); %>
    </header>
    
</body>
</html>